<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="landing col-md-7">
          <app-landing></app-landing>
          <br><br>
          <div class="form">
            <app-quota-form (addQuota)="addNewQuota($event)"></app-quota-form>
          </div>
        </div>
        <div class="quotes col-md-5">
          <div class="quotes-field">  
            <div class="container" *ngFor= 'let quota of quotas;let i = index'>
              <blockquote class="quote-card">
                <p appHighlight> {{quota.description}}</p>
                <cite>
                  <p>
                    <app-quota-details [quota]='quota' (isComplete) = 'deleteQuota($event,i)'></app-quota-details>
                  </p>
                </cite>  
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">  
    </div>
  </body>
</html>


